.footer {
    padding: 20px;
    background-color: #fede1c;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #007bff;
  }
  
  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
  }
  